In [3]:
import pandas as pd

In [4]:
# Bickel et al., “Sex Bias in Graduate Admissions: Data from Berkeley,” Science 187, no. 4175 (1975): 398–404.

In [5]:
# load Berkeley dataset
df = pd.read_csv("https://waf.cs.illinois.edu/discovery/berkeley.csv")
df

       Year  Major Gender Admission
0      1973      C      F  Rejected
1      1973      B      M  Accepted
2      1973  Other      F  Accepted
3      1973  Other      M  Accepted
4      1973  Other      M  Rejected
...     ...    ...    ...       ...
12758  1973  Other      M  Accepted
12759  1973      D      M  Accepted
12760  1973  Other      F  Rejected
12761  1973  Other      M  Rejected
12762  1973  Other      M  Accepted

[12763 rows x 4 columns]

In [6]:
# (0) Remove the 'Other' Major from the dataset
#     We do not want to mix majors that have different admissions criteria

In [8]:
# (1) What is the observed acceptance rate among women and men?
#     Do you observe discrimination agaist women?

In [12]:
# (2) What is the overall acceptance rate per major?

In [16]:
# (3) Add a new column in 'df' called 'MajorType' that has 2 labels: 
# - competitive (for majors with acceptance rate < 50%)
# - less competitive (for majors with acceptance rate > 50%))

In [18]:
# (4) What is the observed acceptance rate among women and men per major type?
#     Do you observe discrimination agaist women per Major Type?